ALTER TABLE super_admins ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS superadmin_read ON super_admins; CREATE POLICY superadmin_read ON super_admins FOR SELECT USING (user_id = auth.uid()); GRANT SELECT ON super_admins TO anon, authenticated;
