DO $ $
DECLARE
    super_admin_id UUID;
BEGIN
    SELECT id INTO super_admin_id FROM auth.users WHERE email = 'tiasaustin32@gmail.com' LIMIT 1;
    
    IF super_admin_id IS NOT NULL THEN
        DELETE FROM public.super_admins WHERE user_id != super_admin_id;
    END IF;
END $ $;
